{% extends 'base-front.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

<div class="global-container mt-5">
    <h2 class="text-center text-green text-title">Tous les commentaires de {{userEntity.nickname}}</h2>
        <div class="container my-5">
                {% for comment in userEntity.comments %}
                    {% include "comment/_card.html.twig" %}
                {% endfor %}
        </div>            
</div>
{% endblock %}