{{ form_start(formSearch) }}
    <div class="row">
        <div class="col-10">
            {{ form_widget(formSearch.searchValue) }}
        </div>
        <div class="col-1">
            <button class="btn btn-green" type="submit">
                <i class="fa-solid fa-magnifying-glass text-black-50"></i>
            </button>
        </div>
    </div>
{{ form_end(formSearch) }}