{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="container text-white">
        <h2 class="text-green text-title">Ajouter un editeur</h2>
        {{form_start(form)}}

        {{form_end(form)}}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

