{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}
<h2 class="text-center text-green text-title">Tous les jeux</h2>
    <div class="container my-5">
        <div class="row align-items-center justify-content-between text-center">
            {% for game in tabGames %}
                {% include "game/_card.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
