{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row align-items-center justify-content-between text-center">
                {% for game in tabGames %}
                <div class="col-4 card border-lightgrey bg-lightgrey" style="width: 25rem;">
                    {% if game.thumbnailCover is defined %}
                    <img src="{{game.thumbnailCover}}" class="card-img-top rounded mx-auto text_white" alt="{{game.name}}" style="width: 20rem; height: 15rem">
                    {% endif %}
                <div class="card-body">
                    <div class ="card-text row">
                        <p class="text-white col-8">{{game.name}}</p>
                        <p class="text-green col-4">{{game.price}}€</p>
                    </div>
                </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
