{% extends 'base.html.twig' %}

{% block body %}
<div class="container">


    <h1>{{ game.name}}</h1>
    <img src="{{ game.thumbnailCover }}">

    <h2>Description</h2>
    <p> {{ game.description }} </p>



</div>
{% endblock %}

{% block title %}

{% endblock %}

