// font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@600&display=swap');

// colors

$grey: rgb(39, 39, 39);
$green: rgb(99, 230, 190);
$white: rgb(252, 252, 252);

// police
$font-h: 'Poppins', sans-serif;
$font-p: 'Lato', sans-serif;