// font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@600&display=swap');

// colors

$grey: rgb(39, 39, 39);
$green: rgb(99, 230, 190);
$white: rgb(252, 252, 252);
$lightgrey: rgb(77, 77, 77);
$rouge: rgb(229, 115, 115);

// police
$font-h: 'Poppins', sans-serif;
$font-p: 'Lato', sans-serif;

$theme-colors: (
    "grey":       $grey,
    "green":      $green,
    "white":      $white,
    "lightgrey":  $lightgrey,
    "rouge":     $rouge,
    // rappeler les classes de bootstrap si on souhaite les utiliser ici (theme-colors écrasé)
)