{% extends 'base-front.html.twig' %}

{% block body%}
    <div class="container text-white">
        <h2 class="text-green text-title">Ajouter un topic</h2>
        {{ form_start(forumTopic)}}
        {{ form_end(forumTopic)}}
    </div>
{% endblock %}
